/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

// COLORS

$cyan: #00e6e6;
$magenta: #e600e6;
$gray_dkx: #303135;
$gray_dk: #363636;
$gray: #696B74;
$gray_lt: #F0F1F5;
$gray_lt_ex: #E5E5E5;
$yellow_lt: #F7F2E5;
$yellow: #E5C77B;
$beige_lt: #ECEBE5;
$beige: #E3DDC6;
$beige_blend: #DFDED4;
$teal_lt: #EFF5F6;
$teal: #4FA09F;
$teal_dk: #307372;
$teal_blend: #E0EBED;
$teal_md: #E5EEEE;
$blue_lt: #ECF1F6;
$blue_lt_divider: #F5F8FA;
$blue: #285384;
$blue_blend: #DFE7EF;
$red: #E8715C;
$black: #000000;
$white: #ffffff;
$red: #CD5742;