#quotes.projects-content
  .container
    .row

      .col-md-4
        .service-item
          %i.fa.fa-quote-left
          %p 
            = "A black hole is where gravity leaks out of our brane into the bulk. I am proposing a counterpart to a black hole, what I call a 'White Fountain,' where exotic hyperphysical energy leaks into our brane." 
          .line-dec
          %p Greg Macsen 
      .col-md-4
        .service-item
          %i.fa.fa-quote-left
          %p 
            = "Can the religious view and the scientific view of our universe both be right? It is hubris for you to think that if you cannot reconcile them, one or the other is false. What this means is that your understanding of both is insufficient."
          .line-dec
          %p Paxxa 
      .col-md-4
        .service-item 
          %i.fa.fa-quote-left
          %p 
            = "Happiness is not a reaction to what happens. And it is more than a personal choice. Happiness is a personal responsibility. Happiness is a mindset. If the 'Man' has you locked in a cage, how you behave is still YOUR choice! Make happiness your act of DEFIANCE!"
          .line-dec
          %p Javier Ronson

