// app/assets/stylesheets/components/_quote.scss

.log {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  gap: var(--space-l);
  color: var(--color-indigo);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  // margin-bottom: var(--space-m);
  padding: var(--space-xs);
  font-size: var(--font-size-l);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
    margin-left: auto;
    order: 2
  }
  button[type="submit"] {
    background: transparent;
    color: var(--color-cyan);
    border: none;
  }
  .bi{
    font-size: 1rem;
  }

}
.edit_log, .new_log {
  .bi{
    font-size: 1rem;
  }
  .form-control{
    padding: 0;
    margin: 0.5rem;
    .is-valid{
      background-image: none;
    }
  }
  .save-div{
    padding-top: 0.75rem;
  }
}