.container
  = turbo_frame_tag "first_turbo_frame" do
    .header
      %h2 Task Time Logs
      =link_to "New Entry", new_log_path, data: {turbo_frame: "second_frame"}, class: "btn btn--primary" 

  .panel
    = turbo_frame_tag "second_frame" do
      = render @logs 